<main>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="">
        Search for Book
        <input formControlName="query" type="text">
      </label>
      <button type="submit">Search</button>
    </form>
  </div>
  <div *ngIf="books$ | async as books">
    books:
    <div *ngFor="let book of books">
      <p>
        {{book.volumeInfo.title}} | {{book.volumeInfo.authors}}
      </p>
      <img src={{book.volumeInfo.imageLinks?.thumbnail}} alt="book image">
    </div>
  </div>
</main>